.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px
  }
  
  .baloon {
    position: absolute;
  
    top: 300px;
    left: 350px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 340px;
    left: 370px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 450px;
    left: 650px;
  }