div:hover {
    border: 3px solid green;
}

div:nth-of-type(1) {
    background-color: yellow;
}

div:nth-of-type(2) {
    background-color: blue;
}

div:nth-of-type(3) {
    background-color: red;
    font-size: 30px;
}

div:nth-of-type(4) {
    background-color: gray;
}

div:nth-of-type(5) {
    background-color: aquamarine;
}

h3:nth-of-type(1) {
    color: black;
    font-style: italic;
}

h3:nth-of-type(2) {
    font-size: 20px;
    font-style: italic;
}